dns.conf
dns-api.keys
dns-openwrt.ip
dns-rpz.ip
krb5.conf
named.primary.conf
named.primary.open.clients.acl.conf
named.primary.open.master.zones.conf
named.primary.open.notify.conf
named.primary.open.response-policy.conf
named.primary.open.zones.conf
named.primary.private.clients.acl.conf
named.primary.private.master.zones.conf
named.primary.private.notify.conf
named.primary.private.response-policy.conf
named.primary.private.zones.conf
named.primary.public.clients.acl.conf
named.primary.public.master.zones.conf
named.primary.public.notify.conf
named.primary.public.response-policy.conf
named.secondary.conf
named.secondary.open.clients.acl.conf
named.secondary.open.master.zones.conf
named.secondary.open.notify.conf
named.secondary.open.response-policy.conf
named.secondary.open.zones.conf
named.secondary.private.clients.acl.conf
named.secondary.private.master.zones.conf
named.secondary.private.notify.conf
named.secondary.private.response-policy.conf
named.secondary.private.zones.conf
named.secondary.public.clients.acl.conf
named.secondary.public.master.zones.conf
named.secondary.public.notify.conf
named.secondary.public.response-policy.conf
named.shared.masters.conf
named.shared.open.forward.zones.conf
named.shared.open.response-policy.conf
named.shared.open.key
named.shared.open.zone.key
named.shared.private.forward.zones.conf
named.shared.private.response-policy.conf
named.shared.private.key
named.shared.private.zone.key
named.shared.public.forward.zones.conf
named.shared.public.response-policy.conf
named.shared.public.key
named.shared.public.zone.key
named.shared.rndc.key
