dns.conf
named.common.masters.conf
named.common.private.forwarder.zones.conf
named.common.private.zone.key
named.common.public.forwarder.zones.conf
named.common.public.zone.key
named.common.rndc.key
named.primary.conf
named.primary.private.clients.acl.conf
named.primary.private.notify.conf
named.primary.private.response-policy.conf
named.primary.private.zones.conf
named.primary.public.clients.acl.conf
named.primary.public.notify.conf
named.primary.public.response-policy.conf
named.primary.public.zones.conf
named.secondary.conf
named.secondary.private.clients.acl.conf
named.secondary.private.notify.conf
named.secondary.private.response-policy.conf
named.secondary.private.zones.conf
named.secondary.public.clients.acl.conf
named.secondary.public.notify.conf
named.secondary.public.response-policy.conf
named.secondary.public.zones.conf
